{:blocks (
{:block/created-at 1719501496051
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed true
:borderRadius 8
:index 2
:scale [1 1]
:pageId "绘画/透视"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing false
:type "logseq-portal"
:size [400 40]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "34f08060-3466-11ef-ac78-25b07add2ef8"
:noFill false
:point [984 752]
:parentId "93a27bb3-e601-4615-adcc-ea337d0eeea9"
:collapsedHeight 92.66669076628727
:nonce 1719479905508}}
:block/updated-at 1719501496051} 
{:block/content "11"
:block/format :markdown
:block/left 
{:block/uuid #uuid "667d2e46-6196-4a97-ad72-71ff4828c275"}
:block/parent 
{:block/uuid #uuid "93a27bb3-e601-4615-adcc-ea337d0eeea9"}
:block/properties 
{}
:block/uuid #uuid "667d310e-a45e-48b1-bffd-076e216642c8"} 
{:block/content "画画"
:block/format :markdown
:block/left 
{:block/uuid #uuid "667d2d18-888c-441b-8ea9-5ea553c8e73e"}
:block/parent 
{:block/uuid #uuid "93a27bb3-e601-4615-adcc-ea337d0eeea9"}
:block/uuid #uuid "667d2dea-e0f7-4c19-8f57-9926dd7fe140"} 
{:block/created-at 1719501496051
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 4
:scale [1 1]
:pageId "logseq"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing false
:type "logseq-portal"
:size [720 1247.0000542534722]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "a44867f0-3463-11ef-807f-0d415a1359d0"
:noFill false
:point [-488 -360]
:parentId "93a27bb3-e601-4615-adcc-ea337d0eeea9"
:collapsedHeight 0
:nonce 1719478804127}}
:block/updated-at 1719501496051} 
{:block/created-at 1719501496047
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "Hello, World"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 186]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "b6a4b930-3463-11ef-807f-0d415a1359d0"
:noFill false
:point [672 176]
:parentId "93a27bb3-e601-4615-adcc-ea337d0eeea9"
:collapsedHeight 0
:nonce 1719478834270}}
:block/updated-at 1719501496047} 
{:block/content "一个块儿"
:block/format :markdown
:block/left 
{:block/uuid #uuid "667d29eb-20e9-4ca9-aaac-5c07f7aea396"}
:block/parent 
{:block/uuid #uuid "93a27bb3-e601-4615-adcc-ea337d0eeea9"}
:block/properties 
{}
:block/uuid #uuid "667d2aec-797e-4f48-b8bb-187636fca53c"} 
{:block/content "222"
:block/format :markdown
:block/left 
{:block/uuid #uuid "667d2d18-888c-441b-8ea9-5ea553c8e73e"}
:block/parent 
{:block/uuid #uuid "667d2d18-888c-441b-8ea9-5ea553c8e73e"}
:block/properties 
{}
:block/uuid #uuid "667d2d2f-6dbe-402c-adbc-595131de8fff"} 
{:block/created-at 1719501496051
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed true
:borderRadius 8
:index 3
:scale [1 1]
:pageId "绘画/线条"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing false
:type "logseq-portal"
:size [400 40]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "3f1fec60-3466-11ef-ac78-25b07add2ef8"
:noFill false
:point [984 904]
:parentId "93a27bb3-e601-4615-adcc-ea337d0eeea9"
:collapsedHeight 92.66660694613114
:nonce 1719479922596}}
:block/updated-at 1719501496051} 
{:block/content " "
:block/format :markdown
:block/left 
{:block/uuid #uuid "667d2aec-797e-4f48-b8bb-187636fca53c"}
:block/parent 
{:block/uuid #uuid "93a27bb3-e601-4615-adcc-ea337d0eeea9"}
:block/uuid #uuid "667d2b37-b8b5-433f-b41d-3f671b27fc7e"} 
{:block/created-at 1719501496050
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed true
:borderRadius 8
:index 1
:scale [1 1]
:pageId "绘画/色彩"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing false
:type "logseq-portal"
:size [400 40]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "03afb4d0-3466-11ef-ac78-25b07add2ef8"
:noFill false
:point [960 584]
:parentId "93a27bb3-e601-4615-adcc-ea337d0eeea9"
:collapsedHeight 92.6666644866726
:nonce 1719479822876}}
:block/updated-at 1719501496050} 
{:block/content "123132\n\n213\n\n123"
:block/format :markdown
:block/left 
{:block/uuid #uuid "667d2c24-ab99-4a69-aaad-49e0b29e24fc"}
:block/parent 
{:block/uuid #uuid "93a27bb3-e601-4615-adcc-ea337d0eeea9"}
:block/properties 
{}
:block/uuid #uuid "667d2d18-888c-441b-8ea9-5ea553c8e73e"} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "667d2b37-b8b5-433f-b41d-3f671b27fc7e"}
:block/parent 
{:block/uuid #uuid "93a27bb3-e601-4615-adcc-ea337d0eeea9"}
:block/uuid #uuid "667d2c24-ab99-4a69-aaad-49e0b29e24fc"} 
{:block/created-at 1719501496051
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 5
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "eef4ec12-3463-11ef-ac78-25b07add2ef8"
:fontWeight 400
:noFill true
:point [236 267.18]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]
:bindingId "eef4ec10-3463-11ef-ac78-25b07add2ef8"}
:end 
{:id "end"
:canBind true
:point [432 4.38]
:bindingId "eef4ec11-3463-11ef-ac78-25b07add2ef8"}}
:decorations 
{:start nil
:end "arrow"}
:parentId "93a27bb3-e601-4615-adcc-ea337d0eeea9"
:nonce 1719478928959
:italic false}}
:block/updated-at 1719501496051} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "93a27bb3-e601-4615-adcc-ea337d0eeea9"}
:block/parent 
{:block/uuid #uuid "93a27bb3-e601-4615-adcc-ea337d0eeea9"}
:block/properties 
{}
:block/uuid #uuid "667d29eb-20e9-4ca9-aaac-5c07f7aea396"} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "667d2dea-e0f7-4c19-8f57-9926dd7fe140"}
:block/parent 
{:block/uuid #uuid "93a27bb3-e601-4615-adcc-ea337d0eeea9"}
:block/uuid #uuid "667d2e46-6196-4a97-ad72-71ff4828c275"} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "667d2d2f-6dbe-402c-adbc-595131de8fff"}
:block/parent 
{:block/uuid #uuid "667d2d18-888c-441b-8ea9-5ea553c8e73e"}
:block/properties 
{}
:block/uuid #uuid "667d2d46-204c-4d8b-b9f2-159fb3a25f0c"} 
{:block/content "[[draws/2024-06-27-23-09-35.excalidraw]]"
:block/format :markdown
:block/left 
{:block/uuid #uuid "667d310e-a45e-48b1-bffd-076e216642c8"}
:block/parent 
{:block/uuid #uuid "93a27bb3-e601-4615-adcc-ea337d0eeea9"}
:block/properties 
{}
:block/uuid #uuid "667d80ab-04d3-4ec1-99b2-021f73f12dbc"})
:pages (
{:block/uuid #uuid "93a27bb3-e601-4615-adcc-ea337d0eeea9"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "93a27bb3-e601-4615-adcc-ea337d0eeea9"
:name "for test"
:bindings 
{:eef4ec10-3463-11ef-ac78-25b07add2ef8 
{:id "eef4ec10-3463-11ef-ac78-25b07add2ef8"
:type "line"
:fromId "eef4ec12-3463-11ef-ac78-25b07add2ef8"
:toId "a44867f0-3463-11ef-807f-0d415a1359d0"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:eef4ec11-3463-11ef-ac78-25b07add2ef8 
{:id "eef4ec11-3463-11ef-ac78-25b07add2ef8"
:type "line"
:fromId "eef4ec12-3463-11ef-ac78-25b07add2ef8"
:toId "b6a4b930-3463-11ef-807f-0d415a1359d0"
:handleId "end"
:point [0.79 0.53]
:distance 4}}
:nonce 1
:assets []
:shapes-index ("b6a4b930-3463-11ef-807f-0d415a1359d0" "03afb4d0-3466-11ef-ac78-25b07add2ef8" "34f08060-3466-11ef-ac78-25b07add2ef8" "3f1fec60-3466-11ef-ac78-25b07add2ef8" "a44867f0-3463-11ef-807f-0d415a1359d0" "eef4ec12-3463-11ef-ac78-25b07add2ef8")}}
:block/journal? false
:block/updated-at 1719501496047
:block/created-at 1719478686178
:block/format :markdown
:block/type "whiteboard"
:block/name "for test"
:block/original-name "for test"})}