{:highlights [{:id #uuid "67054f71-e15c-4c50-8330-4664af432f5d",
               :page 41,
               :position {:bounding {:x1 51,
                                     :y1 566.80078125,
                                     :x2 799,
                                     :y2 1026.80078125,
                                     :width 854.9425066386556,
                                     :height 1209.8178151260506},
                          :rects (),
                          :page 41},
               :content {:text "[:span]", :image 1728401264985},
               :properties {:color "yellow"}}
              {:id #uuid "670551b1-eb0d-452e-9724-1fde4d6c6f00",
               :page 49,
               :position {:bounding {:x1 72,
                                     :y1 398.80078125,
                                     :x2 804,
                                     :y2 1100.80078125,
                                     :width 854.9425066386556,
                                     :height 1209.8178151260506},
                          :rects (),
                          :page 49},
               :content {:text "[:span]", :image 1728401840697},
               :properties {:color "yellow"}}
              {:id #uuid "67055270-4d27-450f-ba19-e95103e8aa44",
               :page 50,
               :position {:bounding {:x1 100,
                                     :y1 257.80078125,
                                     :x2 752,
                                     :y2 669.80078125,
                                     :width 854.9425066386556,
                                     :height 1209.8178151260506},
                          :rects (),
                          :page 50},
               :content {:text "[:span]", :image 1728402032601},
               :properties {:color "yellow"}}
              {:id #uuid "6705530d-5d28-4ff5-bb3d-86d7ba183ef4",
               :page 50,
               :position {:bounding {:x1 461,
                                     :y1 693.3984375,
                                     :x2 778,
                                     :y2 1139.3984375,
                                     :width 854.9425066386556,
                                     :height 1209.8178151260506},
                          :rects (),
                          :page 50},
               :content {:text "[:span]", :image 1728402189143},
               :properties {:color "yellow"}}],
 :extra {:page 42}}
